body {
    margin: 0;
    scroll-behavior: smooth;
}

header, section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slider-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-inner {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.slider-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}


